* {
    font-family: Helvetica, sans-serif;
}

header {
    background-color: #171B31;
    border: 1px solid black;
    position: fixed;
    width: 100%;
    height: 150px;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

body {
    position: relative;
    top: 150px;
}

#grievous {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    visibility: hidden;
}

h1 {
    text-align: center;
    font-size: 3rem;
    padding: 50px;
    color: gainsboro;
    margin: auto;
}

#trigger:hover {
    cursor: pointer;
}

h2 {
    font-size: 2.5rem;
    margin-top: 40px;
}

body ul {
    font-weight: bold;
    font-size: 1.2rem;
}

body li {
    margin: 10px 0;
}

#privacy-policy {
    margin: 50px 0;
    text-align: center;
    font-family: Calibri, sans-serif;
    border: 2px solid black;
    padding: 10px;
}

#privacy-policy h3 {
    font-size: 2rem;
}

footer {
    width: 100%;
    margin-top: 50px;
    padding: 50px;
    display: flex;
    justify-content: space-around;
}

footer a {
    display: inline-block;
    text-align: center;
    flex-basis: 450px;
    color: gainsboro;
    background-color: inherit;
    font-size: 36px;
    text-decoration: none;
    border-radius: 5px;
}

footer #songs {
    background-color: #014723;
}
footer #songs:hover {
    background-color: #002312;
    color: white;
}

footer #linkedin {
    background-color: #07054c;
}
footer #linkedin:hover {
    background-color: #030224;
    color: white;
}

footer #github {
    background-color: #3e0505;
}
footer #github:hover {
    background-color: #190202;
    color: white;
}

footer a:visited {
    color: gainsboro;
}

.blog-post {
    background-color: #171B31;
    color: gainsboro;
    padding: 10px;
    margin: 10px;
}

.keyboard {
    display: flex;
    flex-wrap: wrap;
    height: 600px;
}

#black-keys {
    justify-content: space-around;
    margin-top: 100px;
    margin-left: 6.25%;
    margin-right: 6.25%;
}

#white-keys {
    justify-content: center;
    position: relative;
    bottom: 600px;
}

.key {
    font-size: 3rem;
    border: 1px solid black;
    margin: 0;
    padding: 0;
    display: inline-block;
    text-align: center;
}

.key:hover {
    cursor: pointer;
}

.white-key {
    z-index: 1;
    background-color: white;
    box-sizing: border-box;
    width: 12.5%;
}

.black-key {
    background-color: black;
    color: white;
    height: 80%;
    width: 7.25%;
    z-index: 2;
    box-sizing: border-box;
}

.ghost-key {
    background-color: black;
    color: white;
    height: 80%;
    width: 7.25%;
    z-index: 2;
    box-sizing: border-box;
    visibility: hidden;   
}

.flex-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

#game-board {
    width: 600px;
    height: 600px;
    border: 4px solid black;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.game-tile {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;
}

button {
    height: 100px;
    width: 300px;
    font-size: 3rem;
    display: block;
}