* {
    font-family: Helvetica, sans-serif;
}

header {
    background-color: #171B31;
    border: 1px solid black;
}

header img {
    margin: auto 35%;
    visibility: hidden;
}

h1 {
    text-align: center;
    font-size: 3rem;
    padding: 50px;
    color: gainsboro;
}

h2 {
    font-size: 2.5rem;
    margin-top: 40px;
}

body ul {
    font-weight: bold;
    font-size: 1.2rem;
}

body li {
    margin: 10px 0;
}

#privacy-policy {
    margin: 50px 0;
    text-align: center;
    font-family: Calibri, sans-serif;
    border: 2px solid black;
    padding: 10px;
}

#privacy-policy h3 {
    font-size: 2rem;
}

footer {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

footer a {
    display: inline-block;
    text-align: center;
    flex-basis: 450px;
    color: gainsboro;
    background-color: inherit;
    font-size: 36px;
    text-decoration: none;
    border-radius: 5px;
}

footer #songs {
    background-color: #014723;
}
footer #songs:hover {
    background-color: #002312;
    color: white;
}

footer #linkedin {
    background-color: #07054c;
}
footer #linkedin:hover {
    background-color: #030224;
    color: white;
}

footer #github {
    background-color: #3e0505;
}
footer #github:hover {
    background-color: #190202;
    color: white;
}

footer a:visited {
    color: gainsboro;
}

.blog-post {
    background-color: #171B31;
    color: gainsboro;
    padding: 10px;
    margin: 10px;
}