* {
    font-family: Helvetica, sans-serif;
    background-color: lightgray;
}

h1 {
    text-align: center;
    font-size: 48px;
    padding: 50px;
    color: gainsboro;
    background-color: rgb(44, 5, 44);
}

h2 {
    font-size: 36px;
    margin-top: 40px;
}

#privacy-policy {
    margin: 50px 0;
    text-align: center;
    font-family: Calibri, sans-serif;
    border: 2px solid black;
    padding: 10px;
}

#privacy-policy h3 {
    font-size: 2rem;
}

footer {
    width: 100%;
    background-color: rgb(44, 5, 44);
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

footer a {
    display: inline-block;
    text-align: center;
    width: 30%;
    color: gainsboro;
    background-color: inherit;
    font-size: 36px;
    text-decoration: none;
}

footer a:visited {
    color: gainsboro;
}